.about-img-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 53px;
  gap: 9.47916667%;
  height: 752px;
}
.about-img-container > p {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
}
.about-img-container > img {
  width: 626px;
  height: 680px;
}
.tools-quote-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 43px;
}
.tools-container {
  height: 550px;
  width: 54.07268%;
  margin-left: 2px;
}
.tools {
  margin-top: 10px;
  font-weight: 700;
  font-size: 31px;
  line-height: 46px;
}
.columns-title{
  display: flex;
  justify-content: space-between;
  width: 53.65006%;
  margin-top: 34px;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
}

.columns-details{
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}
.column1{
  width: 292px;
  margin-right: 9px;
}
.column2{
  width: 137px;
  margin-left: 20px;
}
.column3{
  width: 212px;
  margin-left: 29px;
}
.quote-container{
  width: 39.22306%;
}
.quote-content {
  height: 324px;
  font-family: "Grape Nuts";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 78px;
  text-align: right;
}
.quote-signature {
  display: flex;
  justify-content: flex-end;
  margin-top: 11px;
  margin-right: 3px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}
