.cards-container{
    margin-top: 87px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.card{
    min-width: 600px;
    width: 39.223%;
    height: 456px;
}
.card > img{
    width: 100%;
    height: 66.66667%;
}
.card-title{
    margin-top: 14px;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
}
.card-description{
    margin-bottom: 14px;
    height: 31px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.buttons-container{
    display: flex;
    justify-content: space-between;
}
.buttons-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 48.402556%;
    box-sizing: border-box;
    border: 2px solid #000000;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}